/* CONTENTS
    UNIVERSAL STUFF
    OVERLAY STUFF
    TOGGLY STUFF
    CARD DISPLAY
    FORM
    FORM COMPLETED DISPLAY
    ANIMATIONS
    MOBILE DESIGN portrait
    MOBILE DESIGN landscape
    TABLET DESIGN
*/


/* UNIVERSAL STUFF */

@font-face {
    font-family: 'Space Grotesk';
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
    background-color: rgb(222, 222, 222);
    z-index: -100;
}

body {
    height: 100vh;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* OVERLAY STUFF */

.overlay {
    position: fixed;
    height: 100vh;
    width: 33%;
    background-image: url(./images/bg-main-desktop.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlay-dark,
.rotate {
    background-image: url(./images/bg-planets-black.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:contain;
    background-position:center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


/* TOGGLY STUFF */

.toggle-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    z-index: 100;
    padding: 3px;
    /* align-self:flex-end; */
}

div.toggle-dark-white {
    border: 3px solid rgb(115, 0, 115);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 7px;
    margin-bottom: 3px;
}

img.sun {
    opacity: 0;
}

div.toggle-animations {
    border: 3px solid rgb(115, 0, 115);
    border-radius: 20px;
    padding: 4px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.circle-cyan {
    opacity: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80vw;
    margin: 0 auto;
}

.card-container {
    width: 40%;
    z-index: 2;
}

.card-front {
    background-image: url(./images/bg-card-front.png);
    background-size: 100% 100%;
    max-width: 360px;
    min-width: 250px;
    max-height: 220px;
    min-height: 180px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 1px 20px 1px rgba(0, 0, 0, 0.5), 5px -5px 20px 0px hsl(278, 61%, 39%, 0.6);
}

.circle {
    display: flex;
}

.circle-full {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 20px 20px;
}

.circle-empty {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin: 29px 0px;
}


/* CARD DISPLAY */

.card-front-details {
    display: flex;
    flex-wrap: wrap;
}

.card-front-number {
    width: 100%;
    margin: 20px 0px 5px 20px;
    letter-spacing: 3px;
    font-size: 1.1rem;
}

.cardholder-front-name {
    margin: 20px 0px 20px 20px;
    font-size: 0.9rem;
}

.exp-date-front {
    margin: 20px 0px 20px 60px;
    font-size: 0.9rem;
}

.card-back {
    background-image: url(./images/bg-card-back.png);
    background-size: 100% 100%;
    max-width: 360px;
    min-width: 250px;
    height: 200px;
    min-height: 180px;
    position: relative;
    left: 100px;
    top: 20px;
    border-radius: 10px;
    box-shadow: 5px 1px 20px 1px rgba(0, 0, 0, 0.8), 5px -5px 20px 0px hsl(278, 61%, 39%, 0.6);
    color: white;
}

.cvc-back {
    position: relative;
    top: 88px;
    left: 82%;
    font-size: 0.7rem;
}


/* FORM */

.form-container,
.form-completed {
    width: 40%;
    z-index: 1;
}

form label {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

form input,
form select {
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 2px inset hsl(270, 3%, 87%);
    color: hsl(0, 0%, 2%);
}

form div.third-row {
    display: flex;
    justify-content: space-between;
}

form #exp-date-month {
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 2px inset hsl(270, 3%, 87%);
    color: hsl(279, 6%, 35%);
    opacity: 0.9;
}

form #exp-date-year {
    width: 33%;
}

form div.cvc-container {
    width: 20%;
}

form>div.submit-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 50%;
    max-width: 170px;
    min-width: 150px;
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.3rem;
    padding: 10px 15px;
}

.btn:hover {
    cursor: pointer;
}

form input:focus,
form #exp-date-month:focus {
    outline: none;
    border: 2px inset hsl(278, 68%, 11%);
}

/* Better since only the focus element is shown red, but not so good on the exp-date error.*/
form input:focus:invalid,
form #exp-date-month:focus:invalid {
    border: 3px inset rgb(255, 0, 89);
}

/* form input:invalid,
form #exp-date-month:invalid {
    border: 3px inset rgb(255, 0, 89);
} */

/* .form-container {
    display: none;
} */


/* FORM COMPLETED DISPLAY*/

.form-completed {
    display: none;
}

.form-completed {
    text-align: center;
}

.form-completed>* {
    margin: 20px auto;
}

.form-completed>img.icon-complete-dark {
    display: none;
}

.form-completed>h3 {
    letter-spacing: 1px;
}


/* ANIMATIONS */

@keyframes rotation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.rotate {
    animation: 7s rotation infinite;
    animation-timing-function: linear;
}

@keyframes purpleRight {
    100% {
        transform: translateX(18px);
        opacity: 0;
    }
}

@keyframes cyanLeft {}

/* .circle-purple:active {
    animation: 1s purpleRight linear;
    animation-fill-mode: forwards;
} */



/* MOBILE DESIGN portrait */

@media only screen and (max-width: 600px) and (orientation:portrait) {

    html,
    body {
        width: 100vw;
        overflow-y: visible;
        position: static;
    }

    .overlay {
        position: absolute;
        width: 100vw;
        height: 45vh;
    }

    .overlay-dark {
        background-position: bottom;
        z-index: 0;
    }

    .rotate {
        animation: none;
        background-position: bottom;
        z-index: 0;
    }

    main {
        align-items: flex-start;
        margin: 20vh auto;
        width: 90%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card-container {
        position: static;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }

    .card-front {
        width: 100%;
    }

    .card-front-number {
        letter-spacing: 0px;
        margin: 20px 10px 0px 20px;
    }

    .cardholder-front-name,
    .exp-date-front {
        margin-top: 30px;
    }

    .card-back {
        width: 100%;
        position: inherit;
    }

    .cvc-back {
        top: 90px;
    }

    .form-container,
    .form-completed {
        width: 90%;
        margin: 5vh auto;
    }

    form div.exp-date-input-container {
        width: 100%;
    }

    .toggle-container {
        width: 10%;
        left: 2%;
        align-self: flex-start;
        align-self: top;
    }

    div.toggle-dark-white {
        width: 60px;
        height: 28px;
        margin: 2px 0px;
    }

    div.toggle-animations {
        width: 60px;
        height: 28px;
    }

}


/* MOBILE DESIGN landscape */

@media (max-height: 600px) and (orientation: landscape) {

    main {
        justify-content: space-between;
    }

    .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    .card-front {
        order: 2;
        width: 80%;
        position: relative;
        bottom: 50px;
        right: 20px;
    }

    .card-back {
        order: 1;
        width: 80%;
        position: inherit;
        left: 0;
        top: 10px;
    }

    .card-front-number {
        letter-spacing: 0px;
        font-size: 1rem;
    }

    .cvc-back {
        font-size: 0.7rem;
        top: 43%;
        left: 78%;
    }

    section.form-container,
    section.form-completed {
        width: 50%;
    }

    form div.exp-date-container {
        margin-top: 5px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    form div.exp-date-input-container {
        display: flex;
    }

    select#exp-date-month,
    input#exp-date-year {
        width:50%;
    }

    form div.cvc-container {
        margin-top: 5px;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* TABLET DESIGN */

@media (min-width: 601px) and (max-width: 1100px) and (min-height: 600px) {
    html {
        overflow: hidden;
        height: 100vh;
    }

    .card-front {
        width: 320px;
        height: 200px;
    }

    .card-front-number {
        letter-spacing: 0px;
    }

    .card-back {
        width: 320px;
        height: 200px;
        left: 20px;
    }

    .cvc-back {
        left: 250px;
    }
}